<div class="welcome-container">
    <h1>Bienvenido, {{ username }}</h1>
    <img src="/logo.jpg" alt="Imagen de Cinemahub" class="movie-image" />
    <div class="time-display">
      <p id="current-time">{{ currentTime }}</p>
    </div>
    <div class="support-info">
  <p>
    <strong>¡Bienvenido al Administrador de Películas!</strong> Aquí podrás gestionar, actualizar y publicar todo el contenido de la página de manera sencilla y eficiente.
  </p>

  <p>
    Si tienes algún inconveniente o consulta relacionada con la gestión, no dudes en comunicarte con el propietario al número:
    <strong>
      <a [href]="whatsappLinkAdmin" target="_blank" class="whatsapp-link">999 999 999</a>
    </strong>
  </p>

  <p>
    Para soporte técnico del aplicativo, puedes contactar al equipo de desarrollo all:
    <a [href]="whatsappLink" target="_blank" class="whatsapp-link">999 999 999</a>
  </p>
</div>
  </div>